---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BlogRoll from '../components/BlogRoll.astro';
---

<!doctype html>
<html lang="en" bg-green-900 c-green-100>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2 text-10 class="nuke">Welcome, to the far reaches of space!</h2>
			<p>
				You have arrived at the project site for Cosmo, an opinionated framework for building websites with Web Components.
			</p>
			<h2 text-8 class="nuke">Latest Updates</h2>
			<BlogRoll limit={5} />
		</main>
		<Footer />
	</body>
</html>
