---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = await getCollection('blog');
posts.length = 5;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Welcome, to the far reaches of space!</h2>
			<p>
				You have arrived at the project site for Cosmo, an opinionated framework for building websites with Web Components.
			</p>
			<blockquote bg-sky-100 p-5>
				This framework is early days. Somewhere past an outline, but a long time until we get to a working product.<br/>
				The hope of making this site and the blog attached to it is I'll have a place to document things as I develop them.
			</blockquote>
			<h2>Latest Updates</h2>
			<ul>
				{posts.map((post) => {
					return <li>
						<h3>{post.data.title}</h3>
						<p>{post.data.description}</p>
						<FormattedDate date={post.data.pubDate!}></FormattedDate>
					</li>
				})}
			</ul>
		</main>
		<Footer />
	</body>
</html>
